 <!--Sobre mi-->
 <section id="sobre-mi" class="about">
    <div class="container text-center" id="perfil">
     <div class="row">
      <div class="col-3">
        <img src="./assets/img/Perfil.jpg" alt="..." title="..." class="rounded-circle w-75 shadow-lg">
          <div>
            <h2 class="perfil-name">Buenos Aires, Argentina</h2>
          </div>
      </div>
        <div class="col-6 mt-4 text-white">
          <h2 class="texto-sobremi">Un poco sobre mi</h2>
           <h2 class="texto-sobremi-info">
                 Estudiante en la carrera Desarrollador web, soy una persona proactiva, eficaz
                 que ama la tecnologia como los videojuegos.
           </h2>
        </div>
          <div class="col-3">
          </div>
     </div>
    </div>  
   </section>