/*FOOTER*/
.container-footer{
    background: #180f30;

}

.container-footer h2{
    font-size: 17px;
    padding: 4px 0px 0px;
    margin: 0;
    color: rgba(255, 255, 255, 0.904);
}

.container-footer h2 span{
    padding: 0px 0px 0px;
    color: #d400ff;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: underline;
}