<section id="panel" class="panel">
    <div class="container text-center">
        <div class="row mt-2 g-2 g-lg-3">
             <app-trabajodashboard></app-trabajodashboard>
             <app-educaciondashboard></app-educaciondashboard>
             <app-perfildashboard></app-perfildashboard>
                <div class="row mt-2 g-2 g-lg-3">
                     <app-proyectodashboard></app-proyectodashboard>
                     <app-bannerdashboard></app-bannerdashboard>
                     <app-referenciasdashboard></app-referenciasdashboard>
               </div>
               <div class="row mt-2 g-2 g-lg-3">
                     <app-redeseditdashboard></app-redeseditdashboard>
                     <app-skillsdashboard></app-skillsdashboard>
                     <app-infodashboard></app-infodashboard>
               </div>
          </div>
      </div>
</section>