<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://github.com/Willy490" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/wilian-fari%C3%B1a-3bbb5524b/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
    <!-- Button trigger modal -->
    <li class="list-group-item">
    <i class="fa-solid fa-user fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </i>
</li>
</ul>
