<!-- SKILLS Modal -->
<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Skills</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="form-floating p-2">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">habilidades</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- REFERENCIAS Modal icono comment -->
   <div class="modal fade" id="referenciasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Referencias</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="form-floating p-2">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Descripcion</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- BANNER Modal -->
   <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Banner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="mb-3 p-5">
          <label for="formFile" class="form-label">Imagen</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div class="modal-footer p-5">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

<!-- PROYECTOS Modal -->
<div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Proyectos</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="mb-3 row p-3">
<label for="formFileSm" class="form-label">Nombre del proyecto</label>
<div class="col-sm-10">
<input class="form-control form-control-sm" id="formFileSm" type="text">
</div>
</div>
<div class="form-floating p-3">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
<label for="floatingTextarea2">Descripcion</label>
</div>
<div class="mb-3 p-3">
<label for="formFile" class="form-label">Imagen</label>
<input class="form-control" type="file" id="formFile">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary">Guardar</button>
</div>
<div class="mb-3 row p-3">
<label for="formFileSm" class="form-label">Nombre del proyecto</label>
<div class="col-sm-10">
<input class="form-control form-control-sm" id="formFileSm" type="text">
</div>
</div>
<div class="form-floating p-3">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
<label for="floatingTextarea2">Descripcion</label>
</div>
<div class="mb-3 p-3">
<label for="formFile" class="form-label">Imagen</label>
<input class="form-control" type="file" id="formFile">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary">Guardar</button>
</div>
<div class="mb-3 row p-3">
<label for="formFileSm" class="form-label">Nombre del proyecto</label>
<div class="col-sm-10">
<input class="form-control form-control-sm" id="formFileSm" type="text">
</div>
</div>
<div class="form-floating p-3">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
<label for="floatingTextarea2">Descripcion</label>
</div>
<div class="mb-3 p-3">
<label for="formFile" class="form-label">Imagen</label>
<input class="form-control" type="file" id="formFile">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary">Guardar</button>
</div>
</div>
</div>
</div>

 <!-- EDUCACION Modal -->
 <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Educacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="mb-3 row p-3">
          <label for="formFileSm" class="form-label">Institucion</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
        </div>  
        <div class="mb-3 row p-3">
          <label for="formFileSm" class="form-label">Titulo</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
        </div>
        <div class="mb-3 row p-3">
          <label for="formFileSm" class="form-label">Institucion</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
        </div>  
        <div class="mb-3 row p-3">
          <label for="formFileSm" class="form-label">Titulo</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
        </div>    
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- INFO Modal -->
 <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row g-3 p-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name">
          </div>
        </div>
        <div class="form-floating p-2">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Descripcion</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- TRABAJO Modal -->
 <div class="modal fade" id="trabajoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Trabajo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Logo de la empresa</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Titulo del puesto</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" id="formFileSm" type="text">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Descripcion del puesto</label>
                <div class="col-sm-12">
                  <textarea class="form-control form-control-sm" id="formFileSm" type="text">
                </textarea>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- REDES SOCIALES Modal -->
 <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Redes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mb-3 row p-3">
        <label for="formFileSm" class="form-label">Link de la red social</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="formFileSm" type="text">
        </div>
      </div>
      <div class="mb-3 row p-3">
        <label for="formFileSm" class="form-label">Link de la red social</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="formFileSm" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

 <!-- FOTO DE PERFIL Modal -->
 <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Foto de perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
            <label for="formFileSm" class="form-label">PNG,JPG</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>